@font-face {
  font-family: 'Faustine';
  src: url('Faustine-Regular.otf') format('opentype');
}

@font-face {
  font-family: 'MrsEavesAllPetiteCaps';
  src: url('MrsEavesAllPetiteCaps-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'MrsEavesRoman';
  src: url('MrsEavesRoman-Regular.ttf') format('truetype');
}
