.password-field {
  background-color: rgba(255, 255, 255, 0.7);
  border: 0;
  border-radius: 10px;
  font-family: sans-serif;
  padding: 10px;
  text-align: center;
  color: #333;
}

.password-field::placeholder {
  color: black;
}
