/*
This hamburger menu found from
https://codepen.io/erikterwan/pen/EVzeRP
*/
#mobile-nav {
  display: block;
  z-index: 1;

  position: fixed;
  top: 0;
  left: 0;

  /* keeps the element from scrolling on ios chrome */
  /* https://stackoverflow.com/questions/25014141/positionfixed-sliding-bug-in-chrome-mobile */
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

#mobile-nav input {
  display: block;
  width: 52px;
  height: 42px;
  position: absolute;

  cursor: pointer;

  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */

  -webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */
.hamburger span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;

  background: #232323;
  border-radius: 3px;

  z-index: 1;
  transform-origin: 4px 0px;
  -webkit-transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
    opacity 0.55s ease;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
    opacity 0.55s ease;
}

.hamburger span:first-child {
  transform-origin: 0% 0%;
}

.hamburger span:last-child {
  transform-origin: 4px 6px;
}

.hamburger {
  z-index: 1;
  background-color: white;
  border-radius: 5px;
  padding: 10px;
  padding-bottom: 5px;
  overflow: auto;
  opacity: 0.85;
  transition: background-color 0.5s linear;

  position: absolute;
  top: 30px;
  left: 30px;
}

#mobile-nav.open .hamburger {
  background-color: transparent;
}

/*
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#mobile-nav.open .hamburger span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
}

/*
 * But let's hide the middle one.
 */
#mobile-nav.open .hamburger span:nth-child(2) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Oh yeah and the last one should go the other direction
 */
#mobile-nav.open .hamburger span:last-child {
  transform: rotate(-45deg) translate(0px, -1px);
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
#mobile-nav-menu {
  position: absolute;
  width: 80vw;
  height: 100vh;
  padding: 50px;
  padding-left: 0;
  padding-top: 125px;

  background: #ededed;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */

  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}

/*
 * And let's slide it in from the left
 */
#mobile-nav-menu.open {
  transform: none;
}

#mobile-nav-menu li {
  padding: 10px 0;
  /* font-size: 22px; */
}

.menu {
  text-transform: uppercase;
  list-style-type: none;
}

.menu li {
  font-family: 'MrsEavesAllPetiteCaps';
  font-size: 28px;
  letter-spacing: 1px;
  line-height: 1;
}

.link {
  text-decoration: none;
  color: black;
  transition: color 0.25s;
}

#horizontal-nav {
  display: flex;
}

#mobile-nav {
  display: none;
}

@media only screen and (max-width: 600px) {
  #horizontal-nav {
    display: none;
  }

  #mobile-nav {
    display: block;
  }
}

#background-catch {
  background-color: black;
  opacity: 0;
  transition: opacity 0.5s;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

#background-catch.open {
  opacity: 0.7;
}
#background-catch.closed {
  pointer-events: none;
}
